/* CSS Reset */
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --greyish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

/*
  Tipografia
  4. Adiciona espaço entre linhas acessivel
  5. Melhora renderização de textos
*/
body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--cream);
  padding: 2rem 1rem;
  color: var(--greyish-blue);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: 'Fraunces', serif;
  color: var(--dark-blue);
}

/*
  Remove estilos de fontes predefinidos de formularios
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Evita over-flow de textos
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Layout */
.card {}

.card_image,
.card_image img {
  border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;

}

.card_content {
  background-color: var(--white);
  padding: 1rem;
  border-bottom-left-radius:10px;  
  border-bottom-right-radius: ;

}

.card-subtitle {
  display: block;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 2rem;
  width: 12ch;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.card-text {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: .8rem;
}

.current-price {
  font-family: 'Fraunces', serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-cyan);
}

.old-price {
  text-decoration: line-through;
}

/* Card Btn */
.card-btn {
  border: none;
  background-color: var(--dark-cyan);
  color: var(--white);
  width: 100%;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  border-radius: 8px;
}

.card-btn:hover {
  cursor: pointer;
}

/* Estilização Desktop */
@media (min-width: 720px) {
  body {
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    width: 40%;
    display: flex;
  }

  .card>* {
    flex-basis: 50%;
  }


  .card_image picture {
    height: 100%;
    border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
  }

  .card_image picture>img {
    object-fit: cover;
    height: 100%;
  }

  .card_content {
    padding: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
  }
}