/* CSS Reset */
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --greyish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}


/*
  Tipografia
  4. Adiciona espaço entre linhas acessivel
  5. Melhora renderização de textos
*/
body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: 'Fraunces', serif;
}

/*
  Remove estilos de fontes predefinidos de formularios
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Evita over-flow de textos
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}